language: node_js
node_js:
  - "8.5"

branches:
  only:
    - master

before_script:
  - npm install -g firebase-tools

script:
  - npm run build

after_success:
  - firebase deploy --token=${FIREBASE_API_TOKEN}