table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    display: table-row;
    background: #fff;
}

th {
    color: #ffffff;
    background: #6c7ae0;
}

@media screen and (max-width: 768px) {
    tr {
        display: block;
    }

    th {
        padding: 0;
        height: 0px;
    }

    th td {
        display: none;
    }

    tr td:before {
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: block;
    }
}

td {
    display: table-cell;
}

@media screen and (max-width: 768px) {
    td {
        display: block;
    }
}

tr td {
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

th td {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

tr td:nth-child(1) {
    width: 360px;
    padding-left: 40px;
}

tr td:nth-child(2) {
    width: 160px;
}

tr td:nth-child(3) {
    width: 250px;
}

tr td:nth-child(4) {
    width: 190px;
}


.table, tr {
    width: 100% !important;
}

tr:hover {
    background-color: #ececff;
    cursor: pointer;
}

@media (max-width: 768px) {
    tr {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 30px;
        padding-right: 15px;
        margin: 0;
    }

    tr td {
        border: none;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    tr td:nth-child(1) {
        padding-left: 30px;
    }

    tr td {
        font-family: Poppins-Regular;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        font-weight: unset !important;
    }

    .table, tr, td {
        width: 100% !important;
    }
}
